# docker-compose.yml for HMS Assignment
version: '3.8'
services:
  doctor-service:
    build: ./doctor-service
    ports:
      - "8001:8001"
  patient-service:
    build: ./doctor-service/patient-service
    ports:
      - "8002:8002"
  appointment-service:
    build: ./doctor-service/appointment-service
    ports:
      - "8003:8003"
  prescription-service:
    build: ./doctor-service/prescription-service
    ports:
      - "8004:8004"
  billing-service:
    build: ./doctor-service/billing-service
    ports:
      - "8005:8005"
  payment-service:
    build: ./doctor-service/payment-service
    ports:
      - "8006:8006"
